@import "./assets/colors.scss";

.Auth{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 5px 6px 7px -7px #777;
}

.Login, .Register{
    flex-grow: 1;
    margin: 15px;

    form {
        margin: 0 auto;
        width: 380px;
    }
}

.vertical-line{
    width: 2px;
    flex-basis: 2px;
    background-color: $border-color;
}